.canvas-container {
    margin: 2em;
}
#game_canvas {
    cursor: none;
}

#desktop_optimisation_message {
    /* Height of navbar is 3.5rem */
    height: calc(100vh - 3.5rem);
}
.desktop_container {
    /* Height of navbar is 3.5rem */
    height: calc(100vh - 3.5rem);
    padding-top: 1rem;
}
#start_message p {
    margin-bottom: 0.125rem;
}
#start_message button {
    margin-top: 1rem;
}

#game_container {
    position: relative;
}

.clear_icon {
    cursor: pointer;
    position: absolute;
    top: 0.3rem;
    right: 0;
}

.limitation_error_text {
    color: red;
    text-decoration: underline;
}

.colour_palette {
    width: 136px;
    height: 68px;
    margin: auto;
}
.colour_select {
    float: left;
    width: 32px;
    height: 32px;
    margin: 1px;
    cursor: pointer;
    border-radius: 5px;
}