.landing-page-jumbotron {
    height: calc(100% - 3.5rem);
    text-align: center;
}
.landing-page-jumbotron h1 {
    font-size: 84px;
    font-family: "Arial Black";
}
@media screen and (max-width: 576px) {
    div.landing-page-jumbotron h1 {
        font-size: 48px;
        font-family: "Arial Black";
    }
}
.landing-page-jumbotron h5 {
    font-weight: normal;
}
.landing-page-jumbotron .text-container {
    position: relative;
    top: 50%;
    transform: translateY(calc(-50% - 3rem));
    width: fit-content;
    margin: auto;
}
p.navbar-title:hover {
    color: black;
    cursor: default;
}
.play_button {
    position: absolute;
    top: 65%;
    transform: translate(-50%, 0);

    width: 10rem;
    height: 10rem;
    border-radius: 5rem;

    cursor: pointer;
    background: #C9CDB3;


    text-align: center;
}
.play_button:hover {
    transform: translate(calc(-50% + 1px), 1px);
    background: #DADEC4;
}
.play_button_restricted {
    left: 40%;
}
.play_button_free {
    left: 60%;
}
.play_button .link_container {
    margin-top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.play_button a {
    margin: auto;
    text-decoration: none;
    color: black;
    font-family: "Arial Black";
    cursor: pointer;
}