.landing.jumbotron {
    height: 12em;
}
.btn {
    margin-left: 35%;
    width: 30%;

    font-size: 24px;
}
.landing-circle-1 {
    position: absolute;

    height: 3em;
    width: 3em;
    border-radius: 1.5em;

    opacity: 0.35;
    transform: translate(0, 0);

    background-color: red;
    animation-name: landing-circle-1-load;
    animation-duration: 2s;
}
.landing-circle-2 {
    position: absolute;
    right: 4em;

    height: 6em;
    width: 6em;
    border-radius: 3em;

    opacity: 0.4;
    transform: translate(0, 0);

    background-color: blue; 
    animation-name: landing-circle-2-load;
    animation-duration: 3s;
}

@keyframes landing-circle-1-load {
    from {opacity: 0; transform: translate(0, 50px); }
    to {opacity: 0.35; transform: translate(0, 0); }
}
@keyframes landing-circle-2-load {
    from {opacity: 0; transform: translate(0, -75px); }
    to {opacity: 0.4; transform: translate(0, 0); }
}